body{
    background-color: #344a72;
    font-family: Arial, Helvetica, sans-serif;
}
.login-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
h2{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}
form input{
    width: 100%;
    padding: 7px;
    background-color: rgba(0, 0, 255, 0.274);
    border: none;
    border: 1px solid gray ;
    border-radius: 3px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:#344a72;
    color: white;
    font-size: 18px;
}
p, a.p2{
    color: #344a72;
    font-size: 15px;
    text-align: center;
    text-decoration: none;

}
.google {
    background-color: #ff1a1a;
    color: white;

}
.facebook {
    background-color: #006bb3;
    color: white;
}
.btn{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;

}
.input:hover , .btn:hover{
    opacity: 1;

}